#container {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-style: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}

button:hover {    
    background-color: hsl(210, 100%, 70%);
}
button:active {
    background-color: hsl(210, 100%, 80%);
}

input {
    font-style: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
    padding: 10px 15px;
}